---
import { Image } from 'astro:assets';
import uhOhImage from '../assets/uh oh.webp';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<!-- This works no problem as an import: -->
		<Image src={uhOhImage} alt="Star logo"></Image>
		<h1>Astro</h1>

		<p>
			Here's where things go wrong:
			<a href="/uh oh">Uh Oh!</a>
		</p>
	</body>
</html>
